@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: @base;
    margin: 5px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-style: normal;
    color: @text;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @text;
    background-color: @surface0;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @base;
    background: @mauve;
    border-radius: 15px;
    min-width: 40px;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @base;
    background: @mauve;
    opacity: 0.8;
}

tooltip {
    background: @base;
    border: 1px solid @mauve;
    border-radius: 10px;
}

tooltip label {
    color: @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0px 10px;
    margin: 5px 0px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 10px;
    background: @surface0;
    color: @text;
}

#clock {
    color: @blue;
    background: @surface0;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#battery {
    color: @green;
    border-radius: 0 15px 15px 0;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    background-color: @red;
    color: @base;
}

#network {
    color: @flamingo;
    border-radius: 15px 0px 0px 15px;
    margin-left: 10px;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    color: @red;
}

#tray {
    border-radius: 15px;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
