/* Gruvbox Material Dark */
@define-color bg      #282828;
@define-color bg0     #32302f;
@define-color bg1     #3c3836;
@define-color bg2     #504945;
@define-color bg3     #665c54;
@define-color bg4     #7c6f64;
@define-color fg      #d4be98;
@define-color red     #ea6962;
@define-color orange  #e78a4e;
@define-color yellow  #d8a657;
@define-color green   #a9b665;
@define-color aqua    #89b482;
@define-color blue    #7daea3;
@define-color purple  #d3869b;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background: @bg;
    margin: 5px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-style: normal;
    color: @fg;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @fg;
    background-color: @bg1;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @bg;
    background: @yellow;
    border-radius: 15px;
    min-width: 40px;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @bg;
    background: @yellow;
    opacity: 0.8;
}

tooltip {
    background: @bg;
    border: 1px solid @blue;
    border-radius: 10px;
}

tooltip label {
    color: @fg;
}

#custom-clock {
    padding: 0px 15px;
    margin: 5px 10px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 15px;
    background: @bg1;
    color: @yellow;
}

#pulseaudio {
    padding: 0px 10px;
    margin: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 15px;
    background: @bg1;
    color: @blue;
}

#pulseaudio.muted {
    color: @red;
}

#temperature.cpu {
    padding: 0px 10px;
    margin: 5px 0px 5px 5px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px;
    background: @bg1;
    color: @orange;
}

#cpu {
    padding: 0px 10px;
    margin: 5px 5px 5px 0px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    background: @bg1;
    color: @orange;
}

#custom-gpu_temp {
    padding: 0px 10px;
    margin: 5px 0px 5px 5px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px;
    background: @bg1;
    color: @green;
}

#custom-gpu_usage {
    padding: 0px 10px;
    margin: 5px 5px 5px 0px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    background: @bg1;
    color: @green;
}

#custom-disk_nvme {
    padding: 0px 10px;
    margin: 5px 0px 5px 5px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px;
    background: @bg1;
    color: @aqua;
}

#custom-disk_sata {
    padding: 0px 10px;
    margin: 5px 10px 5px 0px;
    margin-top: 10px;
    border: 0px;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    background: @bg1;
    color: @aqua;
}
